@model IEnumerable<Product>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus"></i> Create New Product
            </a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price50</th>
            <th>Author</th>
            <th>Category</th>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.ISBN</td>
                    <td>@item.Price50</td>
                    <td>@item.Author</td>
                    <td>@item.Category</td>

                    <td>
                        <div>
                            <a class="btn btn-primary m-1" asp-controller="Product" asp-action="Edit" asp-route-id=@item.Id>
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-primary m-1" asp-controller="Product" asp-action="Delete" asp-route-id=@item.Id>
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
