@model BookStore.Models.ViewModel.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    @* <input asp-for="Product.ImageUrl" hidden /> *@

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>@(Model.Product.Id==0?"Create":"Edit") product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Product.Title">Title</label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Product.ISBN"></label>
                <input asp-for="Product.ISBN" class="form-control" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price50"></label>
                <input asp-for="Product.Price50" class="form-control" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price100"></label>
                <input asp-for="Product.Price100" class="form-control" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Product.ProductImages"></label>
            <input type="file" id="imageUrl" name="files" class="form-control" multiple />
        </div>
        <div class="mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled onselect="">-- Select Category --</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.CoverTypeId"></label>
            <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
                <option disabled onselect="">-- Select Category --</option>
            </select>
            <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
        </div>
        @if (Model.Product.Id == 0)
        {
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary">Create</button>
        } else
        {
            <button type="submit" class="btn btn-secondary">Update</button>
        }

        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back To List</a>

        <div class="row py-2">
            @if (Model.Product.ProductImages != null)
            {
                foreach (var images in Model.Product.ProductImages)
                {
                    <div class="col-md-2 mb-3">
                        <div class="border p-1 m-2 text-center">
                            <img src="@images.ImageUrl" width="100%"
                                 style="border-radius: 5px; border: 1px solid #bbb9b9" />
                                 <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@images.Id">
                                     <i class="bi bi-strash-fill"></i> Delete
                                 </a>
                        </div>
                    </div>
                }
            }
        </div>
      
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

<script>
    function ValidateInput() {
        if (document.getElementById("imageUrl").value == "") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                footer: 'Please upload images!',
            });
            return false;
        }
        return true;
    }

    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });
</script>
}
