@model IEnumerable<BookStore.Models.Product>


<form method="get" asp-action="Index" class="mb-3">
    <div class="form-row align-items-end">
        <div class="row py-2">
            <!-- Search input -->
            <div class="form-group col-md-4 d-flex">
                <input type="text" class="form-control" id="search" name="searchString" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
            <!-- Category dropdown -->
            <div class="form-group col-md-4">
                <select class="form-control" id="categoryId" name="categoryId" onchange="this.form.submit()">
                    <option value="">All Categories</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Value" selected="@(category.Value.Equals(ViewBag.SelectedCategory))">
                            @category.Text
                        </option>
                    }
                </select>
            </div>
            <div class="form-group col-md-4 py-2">
                <strong>Sort by: </strong>
                <a class="custom-link" asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSortParam">Price</a> |
                <a class="custom-link" asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSortParam">Name</a> |
                <a class="custom-link" asp-action="Index" asp-route-sortOrder="@ViewBag.AuthorSortParam">Author</a> |
                <a class="custom-link" asp-action="Index" asp-route-sortOrder="@ViewBag.CategorySortParam">Category</a>

            </div>
        </div>
    
    </div>
</form>

<div class="row py-3">
    @if (Model.Any())
    {
        <p class="text-primary font-weight-bold fs-25">Found <strong>@Model.Count()</strong> product(s) matching your search:</p>
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px">
                        <div class="card ">
                            @if (item.ProductImages != null && item.ProductImages.Count() > 0)
                            {
                                <img src="@item.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            }
                            @* <img src="@item.ImageUrl" /> *@
                            <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@item.Title</p>
                                    <p class="card-title text-warning text-center">by <b>@item.Author</b></p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center mb-0">List Price: <strike><b>$@item.ListPrice.ToString("0.00")</b></strike></p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-dark text-opacity-75 text-center">As low as: <b>$@item.Price100.ToString("0.00")</b></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" class="btn btn-primary bg-gradient border-0 form-control" asp-route-productId=@item.Id>Details</a>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <p class="text-danger font-weight-bold fs-25">No products found.</p>
    }
</div>
